<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电影种子下载</title>
    <style>
        .div1 {
            margin: 0 auto;
            width: 230px;
            height: 100px;
            border: 1px solid #000;
            position: fixed;
            float: left;
            color: red;
            background-color: rgba(0, 0, 0, 0.5);
        }

    </style>
</head>
<body>
    <div class="div1">
    <!-- 按钮用于启动pachong -->
    <button onclick="startpachong()">开启下载</button>
    <!-- 按钮用于停止pachong -->
    <button onclick="stoppachong()">关闭下载</button>
        <button onclick="exit_def()">关闭程序</button>
    <!-- 显示状态指示器 -->
        <div class="div2">
            <h3 id="status_info" >{{ backend_variable2 }}</h3>
        </div>
    </div>
    <!-- 显示日志内容 -->
    <pre id="log-content" style="border:1px solid;">{{ log_content }}</pre>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>

        // 连接到Socket.IO服务器
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // 监听状态栏事件
        socket.on('updated_variable2', function(new_value) {
            document.getElementById('status_info').innerText = new_value;
        });
        // 监听更新日志事件
        socket.on('update_log', function(data) {
            document.getElementById('log-content').innerText = data ;
        });

        // 函数用于启动pachong
        function startpachong() {
            // 发送启动pachong事件
            socket.emit('start_pachong');
        }

        // 函数用于停止pachong
        function stoppachong() {
            // 发送停止pachong事件
            socket.emit('stop_pachong');
        }
        function exit_def() {
            // 发送退出程序事件
            socket.emit('exit_def');
        }

    </script>


</body>
</html>
